@charset "UTF-8";
@import url("./reset.css");

#wrap #main #section3 {
  width: 100%;
}
#wrap #main #section3 .main-wrap3 {
  width: 100%;
  max-width: 1400px;
  height: 559px;
  margin: 0 auto 100px;
}
#wrap #main #section3 .main-wrap3 .left {
  float: left;
  width: 609.97px;
  height: 558.97px;
}
#wrap #main #section3 .main-wrap3 .right {
  float: left;
}
#wrap #main #section3 .main-wrap3 .right .top {
  width: 790.03px;
  height: 280px;
}
#wrap #main #section3 .main-wrap3 .right .bottom {
  float: left;
}
#wrap #main #section3 .main-wrap3 .right .bottom > .b-left {
  width: 395.02px;
  height: 279px;
  float: left;
}
#wrap #main #section3 .main-wrap3 .right .bottom > .b-right {
  float: left;
}
